
.category-wordpress-header {
  background: #3DA4D5;

}

.fa-wordpress-simple {
  margin-right: 5px;

}

.wp-step1-wrapper {
  margin-bottom: 70px;
  overflow: hidden;

}

.wp-step1-img {
  margin-bottom: 50px
}

.category-wordpress-header h1 {
  text-align: center;
  color: #FFF;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 40px;

}

.wp-step1-wrapper h2 {
  font-size: 24px;
  text-align: center;
  color: #666;
  margin-top: 40px;
  margin-bottom: 50px;
}

.wp-step1-img {
  width: 38%;
  float: left;
}


.wp-step1-img img {
  width: 240px;
  height: 150px;
  margin: 0 0 0 auto;
  display: block;
  border: 2px solid #666;
  border-radius: 3px;
  padding: 20px;

}

.wp-step1-list {
  width: 50%;
  float: right;
}

.wp-step1-list a {
  color: #2581c4;
  text-decoration: none;

}



.wp-step1-list i {
  margin-right: 8px;
}
