

.category-wp-begginer-header {
  background: #6acf47;

}

.category-wp-begginer-header h1 {
  text-align: center;
  color: #FFF;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 40px;
  letter-spacing: 1px;

}

.wp-beginner-wrapper {
  overflow: hidden;
  border-bottom: 3px solid #f9f9f9;
  margin-bottom: 70px;
  padding-bottom: 70px;

}

.wp-beginner-inline {
  margin-top: 50px;
  margin-bottom: 70px;
}

.wp-beginner-img {
  position: relative;
  width: 50%;
  float: left;
  text-align: center;

}

.wp-beginner-img h3 {
  color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 3px;

}

.wp-beginner-img img {
  width: 264px;
  height: auto;
  opacity: 0.3;
  display: block;
  margin: 0 auto;
}

.bg-green {
  background-color: green;
  display: inline-block;
}

.wp-beginner-wrapper h2 {
  font-size: 24px;
  text-align: center;
  color: #666;
  margin-top: 40px;
  margin-bottom: 50px;
  position: relative;
  margin-bottom: 1em;

}

.wp-beginner-wrapper h2::before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #6acf47;
  border-radius: 2px;

}


.wp-beginner-list {
  width: 50%;
  float: right;
}


.wp-beginner-list a {
  color: #2581c4;
  text-decoration: none;

}

.wp-beginner-list a:hover {
  text-decoration: underline;

}

.wp-beginner-list i {
  margin-right: 8px;
}
