


.single-wrapper {
  max-width: 780px;
  margin: 50px auto 150px auto;


}

.single-wrapper li {
  /* display: inline-block; */

}

.singlepage-category li a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
  margin-left: 10px;

}

.singlepage-category {
  display: inline-block;

}

.singlepage-category ul {
  list-style: none;
}

.single-date {
  font-size: 10px;
  margin-bottom: 14px;
  border-right: 1px solid #484642;
  padding-right: 7px;
  display: inline-block;

}

.update-date {
  font-size: 10px;
  margin-bottom: 14px;
  display: inline-block;

}

.single-title {
  font-size: 31px;
  font-weight: bold;
  font-family: 'Kosugi Maru', sans-serif;


}

.single-wrapper img {
  width: 100%;
  height: auto;

}

.single-head-img img {
  margin-top: 40px;
  margin-bottom: 50px;

}

.single-content p {
  line-height: 2;
  color: #333;
  /* padding: 20px 46px; */
  font-family: 'M PLUS 1p', sans-serif;

}
